ol {
    @extend .elementreset;
}

li {
    @extend .elementreset;
}

.list-ordered,
ol {
    margin: rem(0) rem(0) rem(36) rem(48);
    padding-left: rem(43);

    li {
        line-height: rem(24);
        margin-bottom: rem(6);
        padding-left: rem(5);
        position: relative;
    }
}
