/// Spacer small (vertical spacing - using margin-bottom)
/// @group dimensions
/// @type dimension
$spacer-s: 20px;

/// Spacer medium (vertical spacing - using margin-bottom)
/// @group dimensions
/// @type dimension
$spacer-m: 46px;

/// Spacer large (vertical spacing - using margin-bottom)
/// @group dimensions
/// @type dimension
$spacer-l: 66px;

/// Spacer extra large (vertical spacing - using margin-bottom)
/// @group dimensions
/// @type dimension
$spacer-xl: 92px;
