.Tree {
    ul {
        margin: 0;
        padding-left: 0;

        li {
            display: block;
            line-height: 1;
            margin-bottom: 0;

            &::before {
                content: '';
                display: none;
            }
        }
    }
}
