/// Heading Font mixin
/// @group fonts
/// @param {string | 'regular'} $type - light | medium

@mixin font-heading($type) {
    font-weight: normal;

    @if $type == 'book' {
        font-family: $heading-font;
        font-weight: 400;
    }
    @else if $type == 'medium' {
        font-family: $heading-font;
        font-weight: 400;
    }
}

@mixin font-body($type) {
    font-weight: normal;

    @if $type == 'regular' {
        font-family: $body-font;
        font-weight: 400;
    }
    @else if $type == 'bold' {
        font-family: $body-font;
        font-weight: 400;
    }
}
