%heading00 {
    @include font-heading('book');

    font-size: rem(48);
    letter-spacing: -0.4px;
    line-height: rem(56);

    @include breakpoint(medium) {
        font-size: rem(60);
        letter-spacing: -0.8px;
        line-height: rem(66);
    }
}

%heading01 {
    @include font-heading('book');

    font-size: rem(36);
    letter-spacing: -0.4px;
    line-height: rem(44);

    @include breakpoint(medium) {
        font-size: rem(48);
        letter-spacing: -0.8px;
        line-height: rem(56);
    }
}

%heading02 {
    @include font-heading('book');

    font-size: rem(28);
    letter-spacing: -0.4px;
    line-height: rem(36);

    @include breakpoint(medium) {
        font-size: rem(30);
        letter-spacing: -0.4px;
        line-height: rem(38);
    }
}

%heading03 {
    @include font-heading('book');

    font-size: rem(20);
    letter-spacing: -0.4px;
    line-height: rem(24);

    @include breakpoint(medium) {
        font-size: rem(24);
        letter-spacing: -0.4px;
        line-height: rem(30);
    }
}

%heading04 {
    @include font-heading('book');

    font-size: rem(18);
    letter-spacing: -0.4px;
    line-height: rem(24);

    @include breakpoint(medium) {
        font-size: rem(20);
        letter-spacing: -0.4px;
        line-height: rem(28);
    }
}

%heading05 {
    @include font-heading('medium');

    font-size: rem(16);
    letter-spacing: -0.4px;
    line-height: rem(22);

    @include breakpoint(medium) {
        font-size: rem(18);
        letter-spacing: -0.4px;
        line-height: rem(24);
    }
}
