

@mixin button-p1($foreground-colour, $background-colour) {
    background-color: $background-colour;
    color: $foreground-colour;

    &.is-hover,
    &:hover {
        background-color: lighten($background-colour, 40%);
        color: $foreground-colour;
    }

    &.is-focus,
    &:focus {
        box-shadow: 0 0 2px 2px map-get($colors, 'secondary');
        color: map-get($colors, 'white');
        outline: none;

        &::before {
            transform: scale(1.1);
        }
    }

    &.is-active,
    &:active {
        background-color: lighten($background-colour, 30%);
        color: $foreground-colour;
        position: relative;
        top: 1px;
    }

    &.is-disabled,
    &:disabled {
        background-color: lighten($background-colour, 80%);
        color: lighten($background-colour, 40%);
    }
}
